// https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element
.unfocus:focus{
    outline-width: 0;
}

#formheader{
    background-color: #5cc5a7;
    line-height: 18px;
    display: block;
    padding: 10px 10px 10px 10px;
    text-shadow: rgb(49, 138, 113) 0px -1px 0px;
    border-bottom: 1px solid #36977B;
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
}

.STRONG{
    font-weight: 700;
}