/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree 
 *= require_self
 */




* {
   font-family: 'Lato', sans-serif;
   border: 1px solid red;
}

 .header-link {
 }
 
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.footer {
  padding: 20px;
  min-height: 74px;
  position: relative;
  z-index: 1;
  background: #666;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 -1px 0 #000000;
  position: fixed;
  bottom: 0;
  width: 100%;
}

div {
    display: block;
}

.login_logo{
    float: left; 
    margin-right: 25px;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  order-radius: 5px;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  background: #ff652f;
  color: #fff;
  text-shadow: 0 -1px 0 #c83400
}

.welcome {
  text-transform: uppercase; 
  font-size: 16px; 
  color: #999; 
  font-weight: bold; 
  line-height: 20px;
  
}

textarea, input[type="text"], input[type="password"], 
input[type="datetime"], input[type="datetime-local"], 
input[type="date"], input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], input[type="email"], 
input[type="url"], input[type="search"], input[type="tel"], 
input[type="color"], .uneditable-input{

  background-color: #ffffff;
  /* border: 1px solid #cccccc; */
  /* -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.login_links{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background: #5bc5a7;
  z-index: 99;
  border-bottom: 1px solid #48be9d;
  /* color: #fff; */
  text-shadow: 0 -1px 0 #39a385;
  box-shadow: 0 0 3px rgba(0,0,0,0.5)
}



h1{
  font-size: 10
}

.bottompad{
  height: 114px;
}

/* .wrapper{
  min-height: 100%;
  height: auto !important;
  margin: 0 0 -114px;
} */



/* 
Display inline-block

Display: flex BEST goes on container to layout children
Flex-direction: row or column axis
Justify-content works on the main axis
Align-items works on cross axis

Give a block div with display: block HEIGHT AND WIDTH or no point


Position: relative; left right bottom top

Position:absolute if its inside something that has a position (like  dropdown)
Position: fixed having a footer header
Position: sticky for navbar as in gets stuck

* {Border: 1 px solid red;}

 */


.menu {
  position: absolute; 
}



/* https://usabilitypost.com/2011/04/19/pure-css-slideout-interface/ */
/* #slideout {
  position: fixed;
  top: 100px;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout_inner {
  position: fixed;
  top: 100px;
  left: -250px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout:hover {
  left: 250px;
}
#slideout:hover #slideout_inner {
  left: 0;

} */
#slideout_inner {
  overflow: hidden;
  transition: max-height 1.7s ease-out;
  height: auto;
  max-height: 0;
}

.slideout {
  overflow: hidden;
  transition: max-height 1.7s ease-out;
  height: auto;
  max-height: 0;
}

.signup-form-container{
  position: relative;
  align-content: center;
  top: 100px;
  left: 100px;
}


/* for animation txthttps://stackoverflow.com/questions/27476283/smoothly-changing-text-with-javascript */
/* #ubercontainer {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    background-color: #ffefc6;
    width: 500px;
    margin: 20px auto;
    padding: 30px 0;
}
#container {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: #4a6b82;
    height: 78px;
}
.measurable {
    position: absolute;
    visibility: hidden;
}

.static.first, .static.second {
    transition: transform 1s ease;
} */





.hidden{
  display: none;
}



/* INSIDE dashboard.jsx */


#dashboard{
  width: 100%;
  height: 100vh;
}


  #YOU_OWE{
    /* margin: 0 200px 0 200px; */
    justify-content: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 100%;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    float: left; 
    width: 40%;
    /* display: flex; */
    /* height: 100vh; */
    position: relative;
    
  }



  #right-bar{
    width: 25%;
    padding-bottom: 10px;
    position: relative;
    padding-top: 33px;
    margin-right: -201px;
    padding-left: 24px;
    width: 176px;
    z-index: 3;
    float: right;
    /* height: 100vh; */
  }



#friends_bar{
  display: flex;
  float: left; 
  width: 25%;
  height: 100vh;
  z-index: 3;
}
/* end dashboard.jsx */

/* modal  css */

 .header-link {
   text-decoration: none;
   color: black;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .session-submit {
   text-transform: capitalize;
 }

 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }

 /* end modal  */

.addfriend-form{
    padding: 20px 25px;
    min-height: 130px;
    box-shadow: 0 2px 5px 2px #B4B4B4;
    padding-bottom: 20px;
    line-height: 18px;
    background-clip: border-box;
    background-color: white;
    z-index: 100;
    width: 40vw;
    height: 50vh;
  

}