/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//  *= require_tree 
 *= require_self
 */


// /CSS Reset
 @import "./acssreset.scss";
//  //Core
 @import "./splash.scss";
 @import "./dropdown.scss";
 @import "./signup.scss";
 @import "./dashboard.scss";
 @import "./bills.scss";
 @import "./loginform.scss";
 @import "./navbar.scss";

 

//  //Components
//  @import "components/*";

* {
   font-family: 'Lato', sans-serif;
   border: 1px solid red;
}


.footer {
  padding: 20px;
  min-height: 74px;
  position: static;
  z-index: 50;
  background: #666;
  color: #fff;
  font-size: 14px;
  text-shadow: 0 -1px 0 #000000;
  // position: fixed;
  bottom: 0;
  width: 100%;

}

div {
    display: flexbox;
}

.login_logo{
    float: left; 
    margin-right: 25px;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
  order-radius: 5px;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  background: #ff652f;
  color: #fff;
  text-shadow: 0 -1px 0 #c83400;
  width: 160px;
}

.welcome {
  text-transform: uppercase; 
  font-size: 16px; 
  color: #999; 
  font-weight: bold; 
  line-height: 20px; 
}




// h1{
//   font-size: 10
// }

// .bottompad{
//   height: 114px;
// }

/* .wrapper{
  min-height: 100%;
  height: auto !important;
  margin: 0 0 -114px;
} */



// /* 
// Display inline-block

// Display: flex BEST goes on container to layout children
// Flex-direction: row or column axis
// Justify-content works on the main axis
// Align-items works on cross axis

// Give a block div with display: block HEIGHT AND WIDTH or no point


// Position: relative; left right bottom top

// Position:absolute if its inside something that has a position (like  dropdown)
// Position: fixed having a footer header
// Position: sticky for navbar as in gets stuck

// * {Border: 1 px solid red;}

//  */

















// /* INSIDE dashboard.jsx */


  #YOU_OWE{
    /* margin: 0 200px 0 200px; */
    justify-content: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 100%;
    -webkit-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 12px rgba(0,0,0,0.2);
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    float: left; 
    width: 40%;
    /* display: flex; */
    /* height: 100vh; */
    position: relative;
    
  }



  #right-bar{
    width: 25%;
    padding-bottom: 10px;
    position: relative;
    padding-top: 33px;
    margin-right: -201px;
    padding-left: 24px;
    width: 176px;
    z-index: 3;
    float: right;
    /* height: 100vh; */
  }



#friends_bar{
  display: flex;
  float: left; 
  width: 25%;
  height: 100vh;
  z-index: 3;
}
/* end dashboard.jsx */

/* modal  css */

 .header-link {
   text-decoration: none;
   color: black;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .session-submit {
   text-transform: capitalize;
 }

 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, .2);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }

 /* end modal  */

.addfriend-form{
    min-height: 130px;
    box-shadow: 0 2px 5px 2px #B4B4B4;
    line-height: 18px;
    // background-clip: border-box;
    box-sizing: border-box;
    background-color: teal;
    z-index: 100;
    width: 40vw;
    height: 50vh;
 }