#total_balances {
  /* Font & Text */
  justify-content: space-between;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-decoration: none solid rgb(0, 0, 0);
  text-align: center;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(0, 0, 0);

  /* Box */
  height: 6%;
  width: 100%;
  border: 0px none rgb(0, 0, 0);
  border-top: 0px none rgb(0, 0, 0);
  border-right: 0px none rgb(0, 0, 0);
  border-bottom: 0px none rgb(0, 0, 0);
  border-left: 0px none rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  max-height: none;
  min-height: 0px;
  max-width: none;
  min-width: 0px;

  /* Positioning */
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: flex;
  clear: none;
  z-index: auto;

  /* List */
  list-style-image: none;
  list-style-type: disc;
  list-style-position: outside;

  /* Table */
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;

  /* Miscellaneous */
  overflow: visible;
  cursor: auto;
  visibility: visible;

  /* Effects */
  transform: none;
  transition: all 0s ease 0s;
  // outline: rgb(255, 0, 0) dashed 1px;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.total_balances {
  background-color: #999999;
}

.greyhover:hover {
  // background-color: #f8f8f8;
  background-color: #eeeeee;
}

.greyhover :hover {
  background-color: #eeeeee;
}

.blackme {
  color: #999999;
  text-align: center;
  display: block;
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
}

.tealme {
  color: #5bc5a7;
  text-align: center;
  display: block;
  font-size: 13px;
  line-height: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
}

.orangeme {
  color: #ff652f;
  text-align: center;
  display: block;
  font-size: 13px;
  line-height: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
}

h1 {
  /* Font & Text */
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 38px;
  text-decoration: none solid rgb(51, 51, 51);
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-spacing: 0px;
  font-weight: 700;

  /* Color & Background */
  background-attachment: scroll;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  color: rgb(51, 51, 51);

  /* Box */
  // height: 38px;
  // width: 129.438px;
  border: 0px none rgb(51, 51, 51);
  border-top: 0px none rgb(51, 51, 51);
  border-right: 0px none rgb(51, 51, 51);
  border-bottom: 0px none rgb(51, 51, 51);
  border-left: 0px none rgb(51, 51, 51);
  margin: 0px;
  padding: 0px 0px 0px 5px;
  max-height: none;
  min-height: 0px;
  // max-width: 270px;
  min-width: 33%;

  /* Positioning */
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: inline-block;
  clear: none;
  z-index: auto;

  /* List */
  list-style-image: none;
  list-style-type: disc;
  list-style-position: outside;

  /* Table */
  border-collapse: separate;
  border-spacing: 0px 0px;
  caption-side: top;
  empty-cells: show;
  table-layout: auto;

  /* Miscellaneous */
  overflow: hidden;
  cursor: auto;
  visibility: visible;

  /* Effects */
  transform: none;
  transition: all 0s ease 0s;
  outline-offset: 0px;
  box-sizing: content-box;
  resize: none;
  text-shadow: none;
  // text-overflow: ellipsis;
  word-wrap: normal;
  box-shadow: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  z-index: 100;
}

.friendbills {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 18px;
  text-decoration: underline solid rgb(51, 51, 51);
  // text-align: start;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  // white-space: nowrap;
  word-spacing: 0px;

  /* Color & Background */
  // background-attachment: scroll;
  // background-color: rgba(0, 0, 0, 0);
  // background-image: none;
  // background-position: 0% 0%;
  // background-repeat: repeat;
  color: rgb(51, 51, 51);

  /* Box */
  // height: auto;
  // width: auto;
  border: 0px none rgb(51, 51, 51);
  border-top: 0px none rgb(51, 51, 51);
  border-right: 0px none rgb(51, 51, 51);
  border-bottom: 0px none rgb(51, 51, 51);
  border-left: 0px none rgb(51, 51, 51);
  margin: 0px;
  padding: 0px;
  max-height: none;
  min-height: 0px;
  max-width: none;
  min-width: 0px;

  /* Positioning */
  position: static;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  float: none;
  display: inline;
  clear: none;
  z-index: auto;

  // /* List */
  // list-style-image: none;
  // list-style-type: disc;
  // list-style-position: outside;

  /* Table */
  // border-collapse: separate;
  // border-spacing: 0px 0px;
  // caption-side: top;
  // empty-cells: show;
  // table-layout: auto;

  /* Miscellaneous */
  // overflow: visible;
  // cursor: pointer;
  // visibility: visible;

  /* Effects */
  // transform: none;
  // transition: all 0s ease 0s;
  // outline-offset: 0px;
  // box-sizing: content-box;
  // resize: none;
  // text-shadow: none;
  // text-overflow: clip;
  // word-wrap: normal;
  // box-shadow: none;
  // border-top-left-radius: 0px;
  // border-top-right-radius: 0px;
  // border-bottom-left-radius: 0px;
  // border-bottom-right-radius: 0px;
}

.columnheaders {
  color: #999999;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none solid rgb(153, 153, 153);
  word-spacing: 0px;
}
