/* html,body { height:100%; }

.full-height {
    min-height: 100vh;
    box-sizing: border-box;
} */

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_three_columns_responsive */
.column_main {
  box-sizing: border-box;
  float: left;
  width: 40%;
  padding: 10px;
  height: 100vh; /* Should be removed. Only for demonstration */
}

.column {
  box-sizing: border-box;
  float: left;
  width: 15%;
  padding: 10px;
  height: 100vh; /* Should be removed. Only for demonstration */
  margin: 0 50px 0 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}