.addfriend-form{
    min-height: 130px;
    box-shadow: 0 2px 5px 2px #B4B4B4;
    line-height: 18px;
    box-sizing: border-box;
    background-color: white;
    z-index: 100;
    width: 40vw;
    height: 50vh;
    border-top-left-radius:6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
 }