.flex-container{
    display: flex;
    justify-content: space-around;
    background-color: #5BC5A7;
}


.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  display: block;
}

.flex-container > #flexme {
    display: flex;
}

.menu {
  position: absolute; 
}