.flex-container {
  display: flex;
  justify-content: space-around;
  background-color: #5bc5a7;
}

.flex-container > div {
  background-color: #5bc5a7;
  width: 300px;
  // margin: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 30px;
  display: inline-flex;
}

.flex-container > #flexme {
  display: flexbox;
  vertical-align: baseline;
}

.menu {
  position: absolute;
}

.login-form2 {
  font-size: 18px;
  text-align: left;
  display: flexbox;
  z-index: 99;
}
