



// .header {
// 	/* Font & Text */
// 	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	font-size: 14px;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: 400;
// 	letter-spacing: normal;
// 	line-height: 18px;
// 	text-decoration: none solid rgb(255, 255, 255);
// 	text-align: start;
// 	text-indent: 0px;
// 	text-transform: none;
// 	vertical-align: baseline;
// 	white-space: normal;
// 	word-spacing: 0px;

// 	/* Color & Background */
// 	background-attachment: scroll;
// 	background-color: rgb(91, 197, 167);
// 	background-image: none;
// 	background-position: 0% 0%;
// 	background-repeat: repeat;
// 	color: rgb(255, 255, 255);

// 	/* Box */
// 	height: 48px;
// 	width: 1075px;
// 	border-top: 0px none rgb(255, 255, 255);
// 	border-right: 0px none rgb(255, 255, 255);
// 	border-bottom: 1px solid rgb(72, 190, 157);
// 	border-left: 0px none rgb(255, 255, 255);
// 	margin: 0px;
// 	padding: 0px;
// 	max-height: none;
// 	min-height: 0px;
// 	max-width: none;
// 	min-width: 0px;

// 	/* Positioning */
// 	position: fixed;
// 	top: 0px;
// 	bottom: 922px;
// 	right: 0px;
// 	left: 0px;
// 	float: none;
// 	display: block;
// 	clear: none;
// 	z-index: 99;

// 	/* List */
// 	list-style-image: none;
// 	list-style-type: disc;
// 	list-style-position: outside;

// 	/* Table */
// 	border-collapse: separate;
// 	border-spacing: 0px 0px;
// 	caption-side: top;
// 	empty-cells: show;
// 	table-layout: auto;

// 	/* Miscellaneous */
// 	overflow: visible;
// 	cursor: auto;
// 	visibility: visible;

// 	/* Effects */
// 	transform: none;
// 	transition: all 0s ease 0s;
// 	outline: rgb(255, 0, 0) dashed 1px;
// 	outline-offset: 0px;
// 	box-sizing: content-box;
// 	resize: none;
// 	text-shadow: rgb(57, 163, 133) 0px -1px 0px;
// 	text-overflow: clip;
// 	word-wrap: normal;
// 	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px 0px;
// 	border-top-left-radius: 0px;
// 	border-top-right-radius: 0px;
// 	border-bottom-left-radius: 0px;
// 	border-bottom-right-radius: 0px;
// }

// .flex_container_head {
// 	/* Font & Text */
// 	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
// 	font-size: 14px;
// 	font-style: normal;
// 	font-variant: normal;
// 	font-weight: 400;
// 	letter-spacing: normal;
// 	line-height: 18px;
// 	text-decoration: none solid rgb(255, 255, 255);
// 	text-align: start;
// 	text-indent: 0px;
// 	text-transform: none;
// 	vertical-align: baseline;
// 	white-space: normal;
// 	word-spacing: 0px;

// 	/* Color & Background */
// 	background-attachment: scroll;
// 	background-color: rgba(0, 0, 0, 0);
// 	background-image: none;
// 	background-position: 0% 0%;
// 	background-repeat: repeat;
// 	color: rgb(255, 255, 255);

// 	/* Box */
// 	height: 48px;
// 	width: 940px;
// 	border: 0px none rgb(255, 255, 255);
// 	border-top: 0px none rgb(255, 255, 255);
// 	border-right: 0px none rgb(255, 255, 255);
// 	border-bottom: 0px none rgb(255, 255, 255);
// 	border-left: 0px none rgb(255, 255, 255);
// 	margin: 0px 57.5px;
// 	padding: 0px 10px;
// 	max-height: none;
// 	min-height: 0px;
// 	max-width: none;
// 	min-width: 0px;

// 	/* Positioning */
// 	position: relative;
// 	top: 0px;
// 	bottom: 0px;
// 	right: 0px;
// 	left: 0px;
// 	float: none;
// 	display: block;
// 	clear: none;
// 	z-index: auto;

// 	/* List */
// 	list-style-image: none;
// 	list-style-type: disc;
// 	list-style-position: outside;

// 	/* Table */
// 	border-collapse: separate;
// 	border-spacing: 0px 0px;
// 	caption-side: top;
// 	empty-cells: show;
// 	table-layout: auto;

// 	/* Miscellaneous */
// 	overflow: visible;
// 	cursor: auto;
// 	visibility: visible;

// 	/* Effects */
// 	transform: none;
// 	transition: all 0s ease 0s;
// 	outline: rgb(255, 0, 0) dashed 1px;
// 	outline-offset: 0px;
// 	box-sizing: content-box;
// 	resize: none;
// 	text-shadow: rgb(57, 163, 133) 0px -1px 0px;
// 	text-overflow: clip;
// 	word-wrap: normal;
// 	box-shadow: none;
// 	border-top-left-radius: 0px;
// 	border-top-right-radius: 0px;
// 	border-bottom-left-radius: 0px;
// 	border-bottom-right-radius: 0px;
// }

// .login_links{
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   display: flex
// }

// .navbar{
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 48px;
//   background: #5bc5a7;
//   z-index: 99;
//   border-bottom: 1px solid #48be9d;
//   /* color: #fff; */
//   text-shadow: 0 -1px 0 #39a385;
//   box-shadow: 0 0 3px rgba(0,0,0,0.5)
// }


.errors{
    color: red;
}

div .alert-message {
	/* Font & Text */
	font-family: Lato;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 24px;
	text-decoration: none solid rgb(0, 0, 0);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(255, 255, 204);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(0, 0, 0);

	/* Box */
	height: 41.6193px;
	width: 736.008px;
	border: 0.994318px solid rgb(221, 221, 204);
	border-top: 0.994318px solid rgb(221, 221, 204);
	border-right: 0.994318px solid rgb(221, 221, 204);
	border-bottom: 0.994318px solid rgb(221, 221, 204);
	border-left: 0.994318px solid rgb(221, 221, 204);
	margin: 0px;
	padding: 8px 16px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	float: none;
	left: auto;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate; 
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 0.909091px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#text-swap {
	/* Font & Text */
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 35px;
	text-decoration: none solid rgb(55, 59, 63);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 59, 63);

	/* Box */
	height: auto;
	width: auto;
	border: 0px solid rgb(55, 59, 63);
	border-top: 0px solid rgb(55, 59, 63);
	border-right: 0px solid rgb(55, 59, 63);
	border-bottom: 0px solid rgb(55, 59, 63);
	border-left: 0px solid rgb(55, 59, 63);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 0.909091px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

span .text-heart {
	/* Font & Text */
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	letter-spacing: normal;
	line-height: 35px;
	text-decoration: none solid rgb(166, 0, 47);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(166, 0, 47);

	/* Box */
	height: auto;
	width: auto;
	border: 0px solid rgb(166, 0, 47);
	border-top: 0px solid rgb(166, 0, 47);
	border-right: 0px solid rgb(166, 0, 47);
	border-bottom: 0px solid rgb(166, 0, 47);
	border-left: 0px solid rgb(166, 0, 47);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline: rgb(255, 0, 0) dashed 0.909091px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.flex_container{
    width: auto;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    padding-top: 60px;
    display: inline-flexbox;
    position: absolute;
    
    right: 50%;
    margin-left: 193px;
}

#facets{
	// background-image: url(/assets/images/facets.png);
	background-position: center 0px;
	background-size: 1000px;
	background-repeat: repeat;
	height: 800px;
	position: relative;
	// justify-content: center;

	display: flexbox
}

.elephants{
	position:absolute; 
	bottom:0
}

.text-swap{
}